.Lista-produtos{
    display: flex;
    background-color: #fff;
    width: 86rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 20px;
    border-radius: 10px;
    margin: 10rem  19rem;
}