.Termos-cont{
    background-color: #ffff;
 .t1{
    display: flex;
    justify-content: center;
    margin: 20px;
    align-items: center;
 }

    .Termos-condicoes{
        display: flex;
        align-items: start;
        justify-content: start;
        flex-direction: column;
        
    }
}