/* Reset de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Configurações do cabeçalho */
.cabecalho {
    background-color: #6300cc;
    display: flex;
    align-items: center;
    height: 6rem; 
    flex-direction: row;
    gap: 1rem;
    
    
    }
    .icones{
      display: flex;
      justify-content: center;
      align-items: center;
      justify-items: center;
      margin: 1rem;
      
    }
  
    .logo {
      width: 11.25rem;
    }
  
    
.teste{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.pesquisa {
  position: relative; /* Para que os resultados apareçam corretamente em relação ao input */
  display: flex;
  align-items: center;
}

    .input {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 32px;
      width: 500px;
      height: 75px;
      border-radius: 5px;
      background-color: white;
      gap: 24px;
  
  }

  
  .dataResult {
    height: auto; 
    display: flex;
    flex-direction: column;
    
    border-radius: 5px;
    background: #f1f1f1;
    overflow-y: auto;
    position: absolute; 
    gap: 10px;
    top: 5rem;
    z-index: 10; 
    left: 18rem;
    max-height: 200px; 
}

  
  .dataResult::-webkit-scrollbar {
      display: none;
  }

    
  .dataItem {
   
  display: flex;
  
  }
  .dataItem:hover {
      background-color: #747474;
  }
 
  
    .cabecalho .carrinho{
      width: 4rem;
    }
  
    .usuario {
      width: 2.875rem;
      
    }
    @media (max-width: 1440px){
      .cabecalho{
        width: 100%;
      }
      
      .cabecalho .pesquisa{
        margin-right:0rem;
        height: 3.5rem;
      }
      .cabecalho .icones{
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

      }
      .cabecalho .carrinho{
        width: 2rem;
      }
    
      .usuario {
        width: 1.575rem;
        
      }
    }
    
@media (max-width: 900px) {
    .cabecalho {
    width: 100%
   
    }
   
  
    .cabecalho .usuario {
      margin-left: 0; /* Remove a margem à esquerda do ícone do usuário */
    }
  
    .cabecalho .continuar {
      width: 100%; 
    }
  
   
  }
  @media (max-width: 768px) {
    .cabecalho {
      flex-direction: column;
      align-items: stretch;
      padding: 1rem;
      height: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap :10px;
    }
  
  
    .logo {
      align-self: center;
      margin-bottom: 0.5rem;
    }
  
    .pesquisa {
      width: 50%;
      margin: 0.5rem auto;
      font-size: 1rem;
      padding: 0.5rem 1rem;
      height: 3rem;
    }
  
    .icones {
      justify-content: center;
    }
  }
  
  @media (max-width: 480px) {

    .logo{
      width: 5rem;
    }
    .cabecalho{
      width: 30rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 1rem;
    }
    .pesquisa {
      width: 90%;
      margin: 0px;
      font-size: 0.875rem;
      padding: 0.5rem;
      height: 3rem;
      

    }
  
    
    
    
  }