.area-cadastro{
    display: flex;
    justify-content: center ;
    padding: 10%;
}
.cadastro{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffff;
    width: 30%;
    padding: 10px;
    border-radius: 20px
    ;
    .input-cadastro input {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 20px 60px 20px 8px;
        font-size:15px;
        margin: 40px;
        border-radius: 6px;
        text-align: start ;
        font-size: 15px;
        
        

    }
    .criar {
        padding: 0.9375rem 2.5rem; /* 15px -> 0.9375rem, 40px -> 2.5rem */
        background-color: #8c20ff;
        color: #ffff;
        font-size: 1.25rem; /* 20px -> 1.25rem */
        font-weight: 600;
        border: none;
        cursor: pointer;
    }
    
    .titulo-cadastro{
        font-size: 25px;
        text-align: center;
    }
     
    
    
}
