.categorias{
    display: flex;
    justify-content: space-around;
   text-decoration: none;
    font-size: 15px;
    background-color: #FFFF;
    height: 30px;
    align-items: center;
    position: relative;

    a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }


    display: flex;
    gap: 20px;
   
  
  
  .tooltip {
    position: absolute;
    background-color: #E2E2E2;
    top: 100%;
    display: flex;
    justify-content: center; 
    gap: 90px;
    line-height: 34px;
    width: 95.8vw; 
    left: 0; 
    padding: 0px 20px; 
    font-size: 14px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

 
    li{
      list-style: none;
      display: flex;
      justify-content: start;
      
        
    };
     .linha1{
     display: flex;
     flex-direction: column;
    
     }
     .linha2{
     display: flex;
     flex-direction: column;
     }
     .linha3{
     display: flex;
     flex-direction: column;
     }
     
 
  }
}