.categorias{
    display: flex;
    justify-content: space-around;
   text-decoration: none;
    font-size: 23px;
    background-color: #FFFF;
    height: 50px;
    align-items: center;
    position: relative;

    a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }


    display: flex;
    gap: 20px;
   
  
  
  .tooltip {
    position: absolute;
    background-color: #E2E2E2;
    top: 100% ;
    display: flex;
    gap: 90px;
    line-height:50px;
    width: 1200px;
    left: 0%;
    padding: 0px 80px;
    font-size: 20px;
 
    li{
      list-style: none;
      display: flex;
      justify-content: start;
      
        
    };
     .linha1{
     display: flex;
     flex-direction: column;
    
     }
     .linha2{
     display: flex;
     flex-direction: column;
     }
     .linha3{
     display: flex;
     flex-direction: column;
     }
     
 
  }
}