
html {
  font-size: 16px; /* 1 rem = 16px */
}

body {
  background-color: #D9D9D9;
}




/* Sessão de Promoções Geral */
.Promocoes-geral {
  display: flex;
  background-color: #ececec;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3.125rem;
  gap: 7rem;
  justify-content: start;
  width: 119rem,;
  
   
}

.Promocoes-geral .nike-promoção {
  width: 75%;
  height: 16.5rem;
  display: block; /* Garante que a imagem respeite as dimensões definidas */
  object-fit: cover; /* Ajusta a imagem sem distorção */
}


.Promocoes-geral .botao-verMais {
  
  width: 16.5rem;
  height: 4.125rem;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: 800;
  font-size: 1.5625rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.sub-app{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
/* Sessão de Promoções Demo */
.Promocoes-demo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 5.625rem 10.5rem;
  border-radius: 0.625rem;
  padding: 2rem;
  width: 70rem;
}

.Promocoes-demo .item-promocao {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.8125rem;
  background-color: #fff;
  border-radius: 0.625rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Promocoes-demo .item-promocao:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #000;
}

.Promocoes-demo .imagem-item-promocao {
  width: 12.5rem;
  border-radius: 0.625rem;
  margin: 1.25rem;
}

.Promocoes-demo .titulo-item-promocao {
  font-size: 1.5625rem;
  font-weight: 600;
  margin: 0.625rem;
}

.Promocoes-demo .porcentagem-de-desconto {
  display: flex;
  align-items: center;
  margin-bottom: 2.5rem;
}

.Promocoes-demo .item-Ver {
  display: flex;
  background-color: #8c20ff;
  color: #fff;
  height: 1.875rem;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1.25rem 3.125rem;
  border: none;
  cursor: pointer;
  border-radius: 0.3125rem;
  transition: transform 0.3s ease;
  justify-content: center;
  align-items: center;
}

.Promocoes-demo .item-Ver:hover {
  transform: scale(1.1);
}
.Esportes-imgs{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 5rem;
margin: 50px;

}
.imagens-esporte {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.imagem-container {
  position: relative;
  width: 15rem; /* Defina a largura da imagem */
  border-radius: 50px;
  overflow: hidden; /* Para esconder texto fora da imagem */
}

.imagem-esporte {
  width: 100%; /* Ajusta a imagem ao contêiner */
  border-radius: 50px;
}

.texto-sobre-imagem {
  position: absolute;
  top: 90%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  color: white;
  font-size: 1.5rem;
  text-align: center;
  
  padding: 5px 10px;
  border-radius: 10px;
  transition: transform 0.3s ease; /* Transição suave para o texto */
}
.imagem-container:hover {
  transform: scale(1.1); /* Aumenta a imagem */
}

.imagem-container:hover .imagem-esporte {
  transform: scale(1.1); /* Aumenta a imagem */
}

.imagem-container:hover .texto-sobre-imagem {
  transform: translate(-50%, -30%); /* Move o texto para cima */
}

  



/* Produtos em Destaque */
.produto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 4rem 0 2rem;
  width: 60%;
  border-radius: 20px;
  position: relative;
  margin: 0 100px;
}

.produto .produtos-em-destaque {
  position: absolute;
  top: 7.5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
  z-index: 10;
}







